[submodule "nectar"]
	path = nectar
	url = git@github.com:legioncodeinc/nectar.git
[submodule "doctor"]
	path = doctor
	url = git@github.com:legioncodeinc/doctor.git
[submodule "honeycomb"]
	path = honeycomb
	url = git@github.com:legioncodeinc/honeycomb.git
[submodule "hive"]
	path = hive
	url = git@github.com:legioncodeinc/hive.git
[submodule "queen"]
	path = queen
	url = git@github.com:legioncodeinc/queen.git
[submodule "cli-kit"]
	path = cli-kit
	url = git@github.com:legioncodeinc/cli-kit.git
