[submodule "hivenectar"]
	path = hivenectar
	url = git@github.com:legioncodeinc/hivenectar.git
[submodule "hivedoctor"]
	path = hivedoctor
	url = git@github.com:legioncodeinc/hivedoctor.git
[submodule "honeycomb"]
	path = honeycomb
	url = git@github.com:legioncodeinc/honeycomb.git
[submodule "the-hive"]
	path = the-hive
	url = git@github.com:legioncodeinc/the-hive.git
